.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

header {
  height: 150px;
  background-color: blue;
}

#title {
  float: left;
  padding: 25px;
  margin-top: 85px;
  background-color: aquamarine;
}

img {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}